﻿@model SEOMonitor.WebMember.Models.RegisterMonitorModel
@using SEOMonitor.Model.Database.Transaction
@using SEOMonitor.Business
@using SEOMonitor.Repository 
@{
    ViewBag.Title = "Details";
    GoogleTransactionBusiness googleTransactionBusiness = new GoogleTransactionBusiness(new CGoogleTransactionRepository());
    GoogleRelatedTermBusiness googleRelatedTermBusinnes = new GoogleRelatedTermBusiness(new CGoogleRelatedTermRepository());
    //List<GoogleMonitorTransaction> transactions = GoogleMonitorTransaction.Get(Model.Id).OrderBy(m => m.Date).ToList();
    List<GoogleMonitorTransactionModel> transactions = googleTransactionBusiness.GetList(Model.Id);
}

<h2>Detalles</h2>

<div>
    <h4>@Model.Name</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Query)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Query)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.SendEmail)
        </dt>

        <dd>
            <a href="@Model.Url">@Model.Url</a>
            @*@Html.DisplayFor(model => model.Url)*@
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Volver a la lista", "Index") |
    @Html.ActionLink("Realizar petición", "ExecuteSearch", "Crawler", new { MonitorId = Model.Id }, new { }) |
    @*@Html.ActionLink("Descargar CSV", "GetCSVTransactions","Home", new { IdMonitor = Model.Id }, new { })*@
</p>
<p><strong>Filtrar por fechas</strong></p>
<div>
    @using (Ajax.BeginForm("GetMonitorTransactions", "Home",
        new AjaxOptions {
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "GET",
            OnFailure = "searchFailed",
            LoadingElementId = "ajax-loader",
            UpdateTargetId = "transactions"
        }, new { @class = "form-inline", id = "filter-trasanctions"}))
    {
        <input type="hidden" name="IdMonitor" value="@Model.Id" class="form-control" />
        <div class="input-group input-daterange">
            <input type="text" class="form-control date" name="StartDate" placeholder="Fecha inicial" style="cursor:pointer;" />
            &nbsp;
            <input type="text" class="form-control date" name="EndDate" placeholder="Fecha final" style="cursor:pointer;"/>
            <img id="ajax-loader" src="~/Content/Img/ajax-loader.gif" style="display:none;" />
            <button type="submit" class="btn btn-primary">Filtrar</button>
            <button type="button" class="btn btn-primary" onclick="fn_downloadCSV();">Descargar CSV</button>
            <button type="reset" class="btn btn-danger">Limpiar</button>
        </div>

        
    }
</div>

<h3>Historial</h3>
<div id="transactions">
    <table class="table">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Respuesta</th>
                <th>Consulta</th>
                <th>Número de resultados</th>
                <th>Tiempo(segundos)</th>
                <th>Términos Relacionados</th>
                <th>Url</th>
            </tr>
        </thead>
        <tbody>
            @if (transactions.Count == 0)
            {
                <tr>
                    <td colspan="4">No hay monitoreos de las últimas 24 horas</td>
                </tr>
            }
            else
            {
                foreach (GoogleMonitorTransactionModel transaction in transactions)
                {
                    <tr>
                        <td>@transaction.Date</td>
                        <td>@transaction.FormattedResult</td>
                        <td>
                            <a href="@transaction.Url">@transaction.Query</a>
                        </td>
                        <td>@String.Format("{0:0,0}", transaction.NumberOfResults)</td>
                        <td>@String.Format("{0:0,0.00}", transaction.TimeSearch)</td>
                        <td>
                            @{ var listTerms = googleRelatedTermBusinnes.GetRelatedTermsByTransaction(transaction.Id); }
                            @if (listTerms.Count > 0)
                            {
                                foreach (var term in listTerms)
                                { <a href="@term.Url">@term.RelatedTerm</a><text>,</text> }
                            }
                            else
                            {
                                <text>Sin información disponible</text>
                            }
                        </td>
                        <td><a href="@transaction.Url">@transaction.Url</a></td>
                    </tr>
                }
            }
        </tbody>
    </table>

</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/bootstrap-datepicker-1.5.1/js/bootstrap-datepicker.min.js"></script>
<script src="~/Scripts/bootstrap-datepicker-1.5.1/locales/bootstrap-datepicker.es.min.js"></script>
<link href="~/Scripts/bootstrap-datepicker-1.5.1/css/bootstrap-datepicker3.min.css" rel="stylesheet"/>

@section Scripts{
    <script>
        var searchFailed = function () {
            $("#transactions").html("No se encontraron monitores en las fechas señaladas");
        }

        $("input[type = 'date']").prop('readonly', true);

        $('.input-daterange').datepicker({
            format: "yyyy/mm/dd",
            language: "es"
        });

        function fn_downloadCSV() {
            var _url = "@Url.Content("~/Home/GetCSVTransactions?")" + $("#filter-trasanctions").serialize(); //"IdMonitor=" + + "&StartDate=" + +"&EndDate=";
            window.location.href = _url;
        }
    </script>
    <style>
        .date{
            cursor:pointer;
        }
    </style>
}
