﻿@model IEnumerable<SEOMonitor.Model.Database.Transaction.GoogleMonitorTransaction>
@using SEOMonitor.Model.Database.Monitor

<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FormattedResult)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Query)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Url)
        </th>*@

        <th>Fecha</th>
        <th>Respuesta</th>
        <th>Consulta</th>
        <th>Número de resultados</th>
        <th>Términos relacionados</th>
        <th>Tiempo(segundos)</th>
        <th>Url</th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FormattedResult)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Query)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.NumberOfResults)*@
            @String.Format("{0:0,0}", item.NumberOfResults)
        </td>
        <td>
            @{ var listTerms = GoogleRelatedTerm.GetRelatedTermsByTransaction(item.Id); }
            @if (listTerms.Count > 0)
            {
                foreach (var term in listTerms)
                { <a href="@term.Url">@term.RelatedTerm</a> }
            }
            else
            {
                <text>Sin información disponible</text>
            }
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.TimeSearch)*@
            @String.Format("{0:0,0.00}", item.TimeSearch)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.Url)*@
            <a href="@item.Url">@item.Url</a>
        </td>
    </tr>
}

</table>
